<div id="tools-modal" class="takwara-modal-overlay">
  <div class="takwara-modal-content">
    <button id="close-tools-modal" class="takwara-modal-close">&times;</button>
    <nav class="takwara-sidebar-tabs">
      <button class="takwara-tab-button active" data-tab-target="#modal-tab-avt">AVT</button>
      <button class="takwara-tab-button" data-tab-target="#modal-tab-grafo">Grafo</button>
      <button class="takwara-tab-button" data-tab-target="#modal-tab-calc">Calculadora</button>
    </nav>
    <div class="takwara-sidebar-content">
      <div id="modal-tab-avt" class="takwara-tab-pane active">{% include "partials/widget-chatbot.html" %}</div>
      <div id="modal-tab-grafo" class="takwara-tab-pane">{% include "partials/widget-grafo.html" %}</div>
      <div id="modal-tab-calc" class="takwara-tab-pane"><div id="calculator-container"></div></div>
    </div>
  </div>
</div>
<div class="takwara-full-footer-container">
    </div>