<div class="takwara-full-footer-container">
    <div class="takwara-dashboard-footer">
      <div class="dashboard-item">
        <script src="https://climateclock.world/widget-v2.js" async></script>
        <climate-clock />
      </div>
    </div>

    <footer class="takwara-credits-footer">
      <div class="footer-content">
        <p>
          <strong>Tecnologia Takwara</strong> &copy; 2025 | Desenvolvido por Fabio "Takwara" Resck.
        </p>
        <p>
          Contato: <a href="mailto:fabiotakwara@gmail.com">fabiotakwara@gmail.com</a>
        </p>
        <div class="cc-license-container">
          <a class="cc-link" href="https://github.com/Resck/Takwara-Tech/blob/main/LICENSE.md" target="_blank" rel="noopener noreferrer">
            <img alt="Licença Creative Commons" src="https://i.creativecommons.org/l/by/4.0/88x31.png" />
            <span>Este trabalho está licenciado sob a Licença Creative Commons Atribuição 4.0 Internacional.</span>
          </a>
        </div>
      </div>
    </footer>
</div>