<div class="takwara-tools-container">

  <div class="tool-section" id="tool-avt">
    <h4>Converse com Takwara</h4>
    <p>Tire as suas dúvidas sobre a tecnologia, aprenda sobre o bambu, pergunte, investigue!</p>
    {% include "partials/widget-chatbot.html" %}
  </div>

  <div class="tool-section" id="tool-grafo">
    <h4>Grafo de Conhecimento</h4>
    {% include "partials/widget-grafo.html" %}
  </div>

  <div class="tool-section" id="tool-calculadora">
    <h4>Calculadora de Domos</h4>
    {% include "partials/widget-calculadora.html" %}
  </div>

</div>