# Ignorar o script de criação da base de dados vetorial
create_vector_store.py

# Ignorar ficheiros de ambiente local
.env

# Ignorar diretórios de cache do Python
__pycache__/

# Ignorar ficheiros de ambientes virtuais, caso existam
.venv/
venv/