# Ignorar o script de criação da base de dados vetorial
create_vector_store.py

# Ignorar ficheiros de ambiente local
.env

# Ignorar diretórios de cache do Python
__pycache__/

# Ignorar ficheiros de ambientes virtuais, caso existam
.venv/
venv/

/Chatbot - Takwara/temp_repo/
/site/

Chatbot - Takwara/chroma_db/
Chatbot - Takwara/backend-api/chroma_db/.DS_Store
.DS_Store
