
{% extends "base.html" %}

{% block analitycs %}
    {{ super() }}
    <div class="takwara-impact-panel takwara-header-panel">
        <div class="takwara-panel-content">
            <div class="indicator"><span>CO₂ na Atmosfera: <strong>(a carregar...)</strong></span></div>
            <div class="indicator"><span>Nível do Mar: <strong>(a carregar...)</strong></span></div>
        </div>
    </div>
{% endblock %}


{% block footer %}
    <div class="takwara-impact-panel takwara-footer-panel">
        <div class="takwara-panel-content">
            <script type="text/javascript" src="https://climateclock.world/widget-v2.js" async></script>
            <climate-clock />
        </div>
    </div>
    {{ super() }}
{% endblock %}


{% block scripts %}
    {{ super() }}
    <template id="takwara-tools-template">
        {% include "partials/widget-tools.html" %}
    </template>
{% endblock %}


 

