# Lista de bibliotecas essenciais para a API na nuvem

# Framework para rodar a função no Google Cloud
functions-framework

# Pacotes da Langchain para a lógica do chatbot
langchain
langchain-community
langchain-google-genai

# Biblioteca para acessar a base de dados de vetores
chromadb

# Dependência para garantir compatibilidade
pydantic<2

# Pacote de segurança, importante para dependências internas
cryptography
# unstructured[pdf]
pymupdf
lark