# Frameworks da API e da Google Cloud
Flask
functions-framework
google-api-python-client
google-auth-httplib2
gunicorn

# Bibliotecas do Chatbot (Langchain e Google AI)
langchain
langchain-community
langchain-core
langchain-google-genai
google-generativeai
python-dotenv

# Base de Dados de Vetores
chromadb